<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Biline</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" src="/js/domready.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
      socket = io.connect('http://' + window.location.hostname);
    </script>
    <script type="text/javascript" src="/js/paper.js"></script>
    <script type="text/javascript" src="/js/domchanges.js"></script>
    <script type="text/paperscript" canvas="canvas" src="/js/draw.js"></script>
  </head>
  <body>
    <div id="container" class="container">
      <canvas id="canvas" resize="true"></canvas>

      <% if (!username) { %>
      <div class="login">
        <h1>BiLine</h1>
        <a href="/auth/twitter" class="login-button">Login with Twitter</a>
      </div>
      <% } %>

      <div id="account" class="grab-container account-container">
        <a href="#account" class="grab grab-account">Account</a>
        <a href="#" class="grab back grab-account">Account</a>
        <div class="account-user">
          <div class="user"><%= username ? '@'+username : '@dummyuser' %></div>
          <div class="logout">Logout</div>
        </div>
        <div class="account-history">
          <!--<ul>
            <li>
              <img src="http://placekitten.com/200/100" />
              <div class="history-friend">@jonjohnjohnson</div>
            </li>
            <li>
              <img src="http://placekitten.com/200/300" />
              <div class="history-friend">@jonjohnjohnson</div>
            </li>
            <li>
              <img src="http://placekitten.com/200/200" />
              <div class="history-friend">@jonjohnjohnson</div>
            </li>
            <li>
              <img src="http://placekitten.com/200/150" />
              <div class="history-friend">@jonjohnjohnson</div>
            </li>
            <li>
              <img src="http://placekitten.com/200/160" />
              <div class="history-friend">@jonjohnjohnson</div>
            </li>
            <li>
              <img src="http://placekitten.com/200/170" />
              <div class="history-friend">@jonjohnjohnson</div>
            </li>
            <li>
              <img src="http://placekitten.com/200/320" />
              <div class="history-friend">@jonjohnjohnson</div>
            </li>
            <li>
              <img src="http://placekitten.com/200/310" />
              <div class="history-friend">@jonjohnjohnson</div>
            </li>
            <li>
              <img src="http://placekitten.com/200/240" />
              <div class="history-friend">@jonjohnjohnson</div>
            </li>
            <li>
              <img src="http://placekitten.com/200/290" />
              <div class="history-friend">@jonjohnjohnson</div>
            </li>
            <li>
              <img src="http://placekitten.com/200/280" />
              <div class="history-friend">@jonjohnjohnson</div>
            </li>
            <li>
              <img src="http://placekitten.com/200/300" />
              <div class="history-friend">@jonjohnjohnson</div>
            </li>
            <li>
              <img src="http://placekitten.com/200/180" />
              <div class="history-friend">@jonjohnjohnson</div>
            </li>
            <li>
              <img src="http://placekitten.com/200/300" />
              <div class="history-friend">@jonjohnjohnson</div>
            </li>
          </ul>-->
        </div>
      </div>

      <a class="home" href="#"></a>
      <div id="tools" class="grab-container tools-container">
        <a href="#tools" class="grab grab-tools">Tools</a>
        <a href="#" class="grab back grab-tools">Tools</a>
        <div class="transparent">
          <div class="icon-transparent"></div>
          <div class="icon-transparent icon-transparent-light"></div>
          <input class="range-transparent" type="range">
        </div>
        <div class="icon-size icon-sm current"></div>
        <div class="icon-size icon-med"></div>
        <div class="icon-size icon-lg"></div>
      </div>

      <a class="home" href="#"></a>
      <button class="proceed confirm"></button>
      <button class="proceed undo"></button>
    </div>
    <script type="text/javascript" src="/js/redraw.js"></script>
    <script type="text/javascript" src="/js/prevent.js">
  </body>
</html>
